@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* FONT STYLES */
h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  display: block;
  color: white;
}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
}

/* HEADER STYLES */
@keyframes opacityFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  height: 100vh;
  background: #b6d6ff;
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
}
header .email-container {
  font-size: 3rem;
  margin-top: 2rem;
  color: white;
}
header .email-container a {
  transition: color 300ms;
}
header .email-container a:hover {
  color: #b6d6ff;
}
header .socials-container {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 2rem;
}
header .socials-container li a {
  color: white;
  font-size: 5rem;
  padding: 0.5rem;
  transition: color 300ms;
}
header .socials-container li a:hover {
  color: #b6d6ff;
}
header nav {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  animation-name: opacityFade;
  animation-duration: 1s;
  width: 35vw;
}
header nav ul {
  display: flex;
  list-style-type: none;
  width: auto;
}
header nav ul li {
  text-align: center;
  width: calc(100% / 3);
}
header nav ul li a {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: 300;
  background-color: rgba(165, 165, 165, 0.459);
  transition: background-color 300ms;
}
header nav ul li a:hover {
  background-color: #b6d6ff;
}
header .title-container {
  animation-name: opacityFade;
  animation-duration: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 7rem 10rem;
  background-color: rgba(165, 165, 165, 0.459);
  box-shadow: 0 0 10px black;
}
header .title-container .headshot-img-container {
  height: 15vw;
  width: 15vw;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
  border: 2px solid white;
}
header .title-container .headshot-img-container .headshot-img {
  width: 100%;
}
header .title-container a {
  color: white;
}
header .title-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  box-shadow: 0 -3px 10px black;
  z-index: 10;
  padding: 3rem;
  background-color: #2b2a30;
  padding-top: 4rem;
  max-width: 100%;
}
main section {
  width: 70%;
  margin: 8vh auto;
}
main h3.section-title {
  z-index: 0;
  text-transform: uppercase;
  color: rgba(83, 83, 83, 0.616);
}

.about-container {
  background-color: #f8f8ff;
  padding: 2rem;
  display: flex;
  flex: 1;
  box-shadow: 0 0 10px black;
}
.about-container .skills,
.about-container .about-bio {
  flex: 0.5;
  padding: 2rem 0;
}
.about-container .about-bio {
  font-size: 6rem;
  padding-right: 2rem;
}
.about-container .skills {
  padding-left: 2rem;
  border-left: 1px solid rgba(172, 172, 172, 0.445);
  list-style-type: none;
}
.about-container .skills li {
  padding: 0.5rem 0;
}
.about-container .skills li:nth-child(1) .bar div {
  width: 95%;
}
.about-container .skills li:nth-child(2) .bar div {
  width: 90%;
}
.about-container .skills li:nth-child(3) .bar div {
  width: 70%;
}
.about-container .skills li:nth-child(4) .bar div {
  width: 85%;
}
.about-container .skills li:nth-child(5) .bar div {
  width: 90%;
}
.about-container .skills li .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-container .skills li .bar div {
  text-align: right;
  height: 0.8rem;
  margin-right: 2rem;
  border-radius: 1px;
  background-color: #b6d6ff;
}

.projects-flex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.projects-flex .project-module {
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 45%;
  height: 25vh;
  color: black;
  padding: 1rem;
  transition: transform 150ms;
  margin: 0.5rem;
  background: #f8f8ff;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}
.projects-flex .project-module:hover {
  transform: scale(1.05);
  filter: drop-shadow(4px 4px 3px black);
}
.projects-flex .project-module .project-text {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 1rem;
}
.projects-flex .project-module .project-text h4 {
  font-weight: 700;
  text-align: center;
  color: black;
}
.projects-flex .project-module .project-text a {
  color: #b6d6ff;
}
.projects-flex .project-module .project-text .project-link-container {
  text-align: center;
  margin-top: auto;
}
.projects-flex .project-module .project-text .project-link-container a {
  display: inline-block;
  font-size: 5.5rem;
  color: rgba(0, 0, 0, 0.815);
  transition: color 300ms;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  transition-property: color;
  transition-duration: 300ms;
}
.projects-flex .project-module .project-text .project-link-container a:hover {
  color: #aab5fd;
}
.projects-flex .project-module .project-image-container {
  overflow: hidden;
  width: 40%;
  height: 100%;
  border: 0.01rem solid rgba(0, 0, 0, 0.315);
  background-color: white;
  display: flex;
  align-items: center;
}
.projects-flex .project-module .project-image-container img {
  width: 100%;
}

.resume-container {
  box-shadow: 0 0 10px black;
  padding: 3rem;
  width: 100%;
  background-color: #f8f8ff;
}
.resume-container .resume-link {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  text-decoration: none;
}
.resume-container .resume-link a {
  transition: color 300ms;
  color: black;
  transition-duration: 300ms;
}
.resume-container .resume-link a:hover {
  color: #aab5fd;
}
.resume-container .resume-module {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  padding: 2rem;
  border-radius: 2px;
}
.resume-container .resume-module:last-child {
  border-bottom: none;
}
.resume-container .resume-module .resume-module-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

@media (max-width: 1000px) {
  header {
    height: auto;
    position: static;
  }
  header .title-container {
    position: relative;
    transform: translateX(-50%);
    padding: 3rem 0;
    top: 0;
    left: 50%;
    background-color: rgba(178, 183, 212, 0.4);
    text-align: center;
  }
  header .title-container h1 {
    font-size: 3rem;
  }
  header .title-container .headshot-img-container {
    width: 50vw;
    height: 50vw;
  }
  header .email-container {
    font-size: 2rem;
  }
  header nav {
    position: static;
    width: 100%;
    margin: 0;
    transform: none;
  }
  header nav ul {
    width: 100%;
    transform: none;
  }
  header nav ul li a {
    font-size: 1.5rem;
  }

  main {
    height: auto;
    position: static;
    margin: 0;
    padding: 2rem 0;
  }
  main h3.section-title {
    font-size: 3.5rem;
  }
  main section {
    padding: 1rem;
    margin: 0;
    width: 100%;
  }

  .about-container {
    flex-direction: column;
  }
  .about-container .skills {
    border-left: none;
    border-top: 1px solid rgba(172, 172, 172, 0.445);
  }

  .projects-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .projects-container .projects-flex {
    flex-direction: column;
    width: 90%;
  }
  .projects-container .projects-flex .project-module {
    flex-direction: column;
    overflow: hidden;
    height: auto;
    max-width: 100%;
  }
  .projects-container .projects-flex .project-module .project-image-container,
.projects-container .projects-flex .project-module .project-text {
    width: 100%;
  }

  .resume-container {
    padding: 1.5rem;
  }
  .resume-container .resume-module {
    padding: 1.5rem;
  }
  .resume-container .resume-module .resume-module-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  .resume-container .resume-module p {
    text-align: justify;
  }
}