@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$background-color: #2b2a30;
// $background-color: #dfdfdf;
// $background-color: #f8f8ff;
$light-grey: rgba(165, 165, 165, 0.459);

$background-light:#f8f8ff;

$accent-orange: rgb(178, 183, 212);
$hover-color: rgb(170, 181, 253);
$accent-color: rgb(182, 214, 255);
$default-shadow: 0 0 10px black;
@mixin default-hover() {
  // transition:color 300ms;
  transition-duration: 300ms;
  &:hover {
    color: $hover-color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* FONT STYLES */

h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  display: block;
  color: white;
}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
}

/* HEADER STYLES */

@keyframes opacityFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  height: 100vh;
  // background: radial-gradient(
  //   $background-color 0%,
  //   $accent-color 10%,
  //   $accent-color 100%
  // );
  background:$accent-color;
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
  @mixin header-hover(){
    transition: color 300ms;
    &:hover{
      color:$accent-color;
    }
  }
  .email-container {
    font-size: 3rem;
    margin-top: 2rem;
    color:white;
    a{
      @include header-hover();
    }
  }
  .socials-container {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 2rem;
    li {
      a {
        // transition: background-color 300ms;
        color: white;
        font-size: 5rem;
        padding:0.5rem;
        @include header-hover();
      }
    }
  }
  nav {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    // margin-bottom: 10rem;
    border: 1px solid white;
    animation-name: opacityFade;
    animation-duration: 1s;
    width: 35vw;
    ul {
      display: flex;
      list-style-type: none;
      width: auto;
      li {
        text-align: center;
        width: calc(100% / 3);
        a {
          display: inline-block;
          width: 100%;
          color: white;
          font-size: 2.5rem;
          padding: 1rem 0;
          font-weight: 300;
          background-color: $light-grey;
          transition: background-color 300ms;
          &:hover{
            background-color:$accent-color;
          }
        }
      }
    }
  }

  .title-container {
    animation-name: opacityFade;
    animation-duration: 1s;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7rem 10rem;
    background-color: $light-grey;
    box-shadow: $default-shadow;
    .headshot-img-container{
      $size:15vw;
      height:$size;
      width:$size;
      overflow:hidden;
      border-radius: 50%;
      margin-bottom: 2rem;
      border: 2px solid white;

      .headshot-img {
        width:100%;
        // transform: scale(.8);
      }
    }

    a{
      color:white;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

}

main {
  box-shadow: 0 -3px 10px black;
  z-index: 10;
  padding: 3rem;
  background-color: $background-color;
  padding-top: 4rem;
  max-width: 100%;
  section {
    width: 70%;
    margin: 8vh auto;
  }
  h3.section-title {
    z-index: 0;
    text-transform: uppercase;
    color: rgba(83, 83, 83, 0.616);
    // color: rgba(255, 255, 255, 0.397);
  }
}

.about-container {
  background-color: $background-light;
  padding: 2rem;
  display: flex;
  flex: 1;
  $side-padding: 2rem;
  box-shadow: $default-shadow;
  .skills,
  .about-bio {
    flex: 0.5;
    padding: 2rem 0;
  }
  .about-bio {
    font-size: 6rem;
    padding-right: $side-padding;
  }
  .skills {
    padding-left: $side-padding;
    border-left: 1px solid rgba(172, 172, 172, 0.445);
    list-style-type: none;
    li {
      padding: 0.5rem 0;
      &:nth-child(1) .bar div {
        width: 95%;
      }
      &:nth-child(2) .bar div {
        width: 90%;
      }
      &:nth-child(3) .bar div {
        width: 70%;
      }
      &:nth-child(4) .bar div {
        width: 85%;
      }
      &:nth-child(5) .bar div {
        width: 90%;
      }
      .bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          text-align: right;
          height: 0.8rem;
          margin-right: 2rem;
          border-radius: 1px;
          background-color: $accent-color;
        }
      }
    }
  }
}

.projects-flex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .project-module {
    box-shadow: $default-shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 45%;
    height: 25vh;
    color: black;
    padding: 1rem;
    transition: transform 150ms;
    margin: 0.5rem;
    // filter:blur(10px);

    // Border properties
    // background: #1e1d20;
    background: #f8f8ff;
    border: 2px solid transparent;
    border-image: linear-gradient(
      to bottom right,
      #b827fc 0%,
      #2c90fc 25%,
      #b8fd33 50%,
      #fec837 75%,
      #fd1892 100%
    );
    border-image-slice: 1;

    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(4px 4px 3px black);
    }
    .project-text {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-left: 1rem;
      h4 {
        font-weight: 700;
        text-align:center;
        color:black;
      }
      a {
        color: $accent-color;
      }
      .project-link-container {
        text-align: center;
        margin-top: auto;
        a {
          display: inline-block;
          font-size: 5.5rem;
          color: rgba(0, 0, 0, 0.815);
          transition: color 300ms;
          font-weight: 300;
          text-align: center;
          padding: 1rem;
          transition-property:color;
          @include default-hover();
        }
      }
    }
    .project-image-container {
      overflow: hidden;
      width: 40%;
      height: 100%;
      border: 0.01rem solid rgba(0, 0, 0, 0.315);
      background-color: white;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}

.resume-container {
  box-shadow: $default-shadow;
  padding: 3rem;
  width: 100%;
  background-color: $background-light;
  .resume-link {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    text-decoration: none;
    a {
      transition: color 300ms;
      color: black;
      @include default-hover();
    }
  }
  .resume-module {
    border-bottom: 1px solid rgba(grey, 0.4);
    padding: 2rem;
    border-radius: 2px;
    &:last-child {
      border-bottom: none;
    }
    .resume-module-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 1000px) {
  header {
    height: auto;
    position: static;
    .title-container {
      position: relative;
      transform: translateX(-50%);
      padding: 3rem 0;
      top: 0;
      left: 50%;
      background-color: rgba($accent-orange, 0.4);
      h1 {
        font-size: 3rem;
      }
      text-align:center;
      .headshot-img-container{
        width:50vw;
        height:50vw;
      }
    }
    .email-container {
      font-size: 2rem;
    }
    nav {
      position: static;
      width: 100%;
      margin: 0;
      transform: none;
      ul {
        width: 100%;
        transform: none;
        li {
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  main {
    h3.section-title {
      font-size: 3.5rem;
    }
    height: auto;
    position: static;
    margin: 0;
    padding: 2rem 0;
    section {
      padding: 1rem;
      margin: 0;
      width: 100%;
    }
  }

  .about-container {
    flex-direction: column;
    .skills {
      border-left: none;
      border-top: 1px solid rgba(172, 172, 172, 0.445);
    }
  }

  .projects-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    .projects-flex {
      flex-direction: column;
      width: 90%;
      .project-module {
        flex-direction: column;
        overflow: hidden;
        height: auto;
        max-width: 100%;
        .project-image-container,
        .project-text {
          width: 100%;
        }
      }
    }
  }

  .resume-container {
    padding: 1.5rem;
    .resume-module {
      padding: 1.5rem;
      .resume-module-header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
      }
      p {
        text-align: justify;
      }
    }
  }
}
